# Models (Crucial: do not push these!)
models/
*.onnx
*.onnx_data

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Docker
.dockerignore

# IDEs
.vscode/
.cursor/

# Hugging Face Cache
.cache/models/
